@import "../../Styles/mixins/flex";
@import "../../Styles/mixins/colors";

.comments_wrapper{
    @include flex-column-align-center;
    @include main-palette-inverse;

    --br: 25px;

    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: var(--br);
    padding-top: 100px;
    background-color: var(--bg);
    opacity: 0.9;
    pointer-events: auto;

    .close{
        @include flex-full-center;
        position: absolute;
        top: 15px;
        right: 15px;
        outline: solid 2px var(--beige);
        border-radius: 50%;
        padding: 10px;

        &:hover{
            @include main-palette;
            transition: var(--hover-transition);
            cursor: pointer;
            svg{
                filter: invert(1);
            }
        }
    }

    &>h2{
        font-size: 2rem;
        margin: 25px;
    }

    form{
        @include flex-column-align-center;
        min-width: 0;

        &>*{
            margin: 10px;
        }

        textarea{
            // border-radius: var(--br);
            border-radius: 10px;
            margin: 15px;
            padding: 15px;
            outline: solid 2px var(--beige);
            border: none;   
            min-width: 0;         
        }

        button{
            width: 50%;
            border-radius: 10px;
            padding: 5px;
            &:hover{
                @include main-palette;
                cursor: pointer;
                transition: var(--hover-transition);
                
            }
        }
    }

    .comment_array_wrapper{
        width: 90%;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .no_comments{
        @include flex-full-center;
    }
}

.comment_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;

    .comment_edit_toggle{
        
        margin-right: 25px;
        padding: 0px 10px 0px 10px;
        position: relative;

        &>span{
            font-size: 2rem;
            color: var(--darkbeige);

            &:hover{
                color: var(--beige);
                cursor: pointer;
            }
        }

        #button_delete_comment{
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
            background-color: firebrick;
            border-radius: 10px;

            &:hover{
                filter: brightness(1.6);
                cursor: pointer;
            }
        }
    }

    .comment_wrapper{
        min-width: 200px;
        width: calc(100% - 20px);
        // margin-bottom: 20px;
        padding: 5px 10px;
    
        &>div{
            @include flex-align-center;
            h2{
                font-size: 1.2rem;
                padding-right: 10px;
            }
    
            span{
                color: var(--darkbeige);
                font-size: 0.8rem;
            }
        }
    
        p{
            white-space: nowrap;
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

// .comment_wrapper{
//     min-width: 200px;
//     width: calc(100% - 20px);
//     margin-bottom: 20px;
//     padding: 5px 10px;

//     &>div{
//         @include flex-align-center;
//         h2{
//             font-size: 1.2rem;
//             padding-right: 10px;
//         }

//         span{
//             color: var(--darkbeige);
//             font-size: 0.8rem;
//         }
//     }

//     p{
//         white-space: nowrap;
//         max-width: 15ch;
//         overflow: hidden;
//         text-overflow: ellipsis;
//     }
// }